%h1 Book your flight
= form_tag("/", method: "get") do
  = select_tag :from_id, options_from_collection_for_select(@airports, :id, :code)
  = select_tag :to_id, options_from_collection_for_select(@airports, :id, :code)
  = select_tag :start_date, options_for_select(@start_dates, :date)
  = select_tag :num_tickets, options_for_select((1..4).to_a, :num_tickets)
  = submit_tag "Search"

- unless @flights.empty?
  - @flights.each do |flight|
    %ul
      %li
        = flight.from_airport.code
        = flight.to_airport.code
        = flight.start