%h1 Number of tickets
= form_tag("index", method: "get") do
	= hidden_field_tag :from_id, params[:from_id]
	= hidden_field_tag :to_id, params[:to_id]
	= hidden_field_tag :date, params[:date]
	= select_tag :num_tickets, options_for_select((1..4).to_a, :num_tickets)
	= submit_tag 'Next'
