%h1 Booking Page

%h3= "Flight Id: #{@flight.id}"
%h3= "From: #{@flight.from_airport.code}"
%h3= "To: #{@flight.to_airport.code}"
%h3= "Date: #{@flight.start}"
%hr

= form_for(@booking) do |f|
  = f.hidden_field :flight_id
  = f.fields_for :passengers do |p|
    .form-group
      = p.label :name
      = p.text_field :name, class: "form-control"
      = p.label :email
      = p.text_field :email, class: "form-control"
      %hr

  = f.submit "Book Flight", class: "btn btn-primary btn-lg"
